* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    color: #fff;
    background: linear-gradient(to right, #49494b, #3b3b3d);
}

nav {
    height: 50px;
    background: #fdcc04;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
}
.order button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fdcc04;
    color: #fff;
    border: none;
    cursor: pointer;
}
nav a {
    display: inline-block;
    padding: 20px;
    color: #fff;
}
nav a:hover {
    text-decoration: none;
}
nav a:active {
    text-decoration:none;
}
nav a:link {
    text-decoration: none;
}
nav a:visited {
    text-decoration: none;
}
/* General styles */
.page-container {
    width: 780px;
    max-width: 100%;
    padding: 16px;
    margin: 0 auto;
}

section {
    margin-bottom: 32px;
}

section .section-title {
    font-size: 1.5rem;
    margin-bottom: 16px;
}

/* Header styles */
header {
    background-image: url('./images/hero-bg.jpg');
    height: 550px;
    background-position: center center;
    background-size: cover;
    
}
.text404 {
    text-align: center;
}
.text404 a {
    text-decoration: none;
    color: #fdcb046b;
}



/* Project styles */
.produs {
    font-size: 1rem;
    background-color: #fdcb04ce;
    border-radius: 5px;
    margin-bottom: 16px;
    position: relative;
    overflow: hidden;
}
.login {
    text-align: center;
    font-size: 1.5 rem;
    width: 100%;
    padding: 12px 20px;
    size: 10px;
}
.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login input {
    width: 20%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;

}
.login button {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fdcc04;
    color: #fff;
    border: none;
    cursor: pointer;

}


/* Profile links style */
.profile-links {
    list-style: none;
}

.profile-links li a {
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    background-color: #3d64a6;
    padding: 16px;
    display: block;
    margin: 8px 0;
    border-radius: 5px;
}
.profile-links li a.buton_1_link {
    background-color: #0067ff;
}

.profile-links li a.buton_2_link {
    background-color: #ffc244;
}

.profile-links li a.buton_3_link {
    background: linear-gradient(to right, #901dfe, #fea409);
}

.profile-links li a.buton_4_link {
    background: linear-gradient(to right, #4387f8,#35ab55)
}



/* Footer style */
footer {
    font-size: 1rem;
    text-align: center;
    padding: 20px 0;
    width: 780px;
    max-width: 100%;
    padding: 16px;
    margin: 0 auto;
}


/*animatia*/
@keyframes slideDown {
    0% {
        transform: translateY(-20%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#content {
    opacity: 0; /* Inițial, elementul este invizibil */
    animation: slideDown 1.5s ease forwards; /* Animatia slideDown cu durata de 1 secunda */
}